rebaseMergeAllowed: true
squashMergeAllowed: true
mergeCommitAllowed: false
branchProtectionRules:
- pattern: main
  isAdminEnforced: false
  requiredStatusCheckContexts:
    - 'cla/google'
    - 'CI (macos-latest, 3.0, test , spec)'
    - 'CI (ubuntu-20.04, 2.6, test , spec)'
    - 'CI (ubuntu-20.04, 2.7, test , spec)'
    - 'CI (ubuntu-20.04, 3.0, test , spec)'
    - 'CI (ubuntu-20.04, 3.1, test , spec)'
    - 'CI (ubuntu-22.04, 3.1, test , spec)'
    - 'CI (ubuntu-latest, 3.0, rubocop , integration , build , yardoc , linkinator)'
    - 'CI (windows-latest, 3.0, test , spec)'
  requiredApprovingReviewCount: 1
  requiresCodeOwnerReviews: true
  requiresStrictStatusChecks: true
permissionRules:
  - team: yoshi-admins
    permission: admin
  - team: ruby-admins
    permission: admin
  - team: ruby-team
    permission: push
